body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    text-align: center;
}

h2 {
    margin-top: 0;
}

.user {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.copy-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

.copy-btn:hover {
    background-color: #45a049;
}

.copy-btn.copied {
    background-color: #008CBA;
}

.copy-success {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: opacity 0.5s;
    opacity: 0;
}

.copy-success.active {
    opacity: 1;
}

/* 定义链接的默认样式 */
a {
    color: #007bff;
    /* 设置链接的默认颜色 */
    text-decoration: none;
    /* 移除下划线 */
    transition: color 0.3s ease-in-out;
    /* 平滑的颜色过渡效果 */
    font-size: 50px;
    /* 设置文字大小为20像素 */
    font-weight: bold;
    /* 设置文字为加粗 */
}

/* 定义鼠标悬停在链接上时的样式 */
a:hover {
    color: #0056b3;
    /* 鼠标悬停时链接的颜色 */
    text-decoration: underline;
    /* 鼠标悬停时添加下划线 */
}